{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/assignment_form.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
{% endblock %}

{% block content %}


        <div class="form-row">
            <div class="form-group">
                <label for="{{ form.due_date.id_for_label }}">Due Date</label>
                {{ form.due_date }}
                {% if form.due_date.errors %}<span class="error">{{ form.due_date.errors|striptags }}</span>{% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.groups.id_for_label }}">Groups</label>
            {{ form.groups }}
            {% if form.groups.errors %}<span class="error">{{ form.groups.errors|striptags }}</span>{% endif %}
        </div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="{% static 'js/assignment_form.js' %}"></script>
{% endblock %}